@charset "utf-8";
/* CSS Document */
html, 
body {  
	font: 12px Arial, Helvetica, sans-serif;  
	height: 100%; 
	margin: 0; 
	padding: 0;
	width: 100%;
}

body *::-webkit-scrollbar {
	width: 11px; 
	-webkit-appearance: none;
}

body *::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .5); 
	border-radius: 8px; 
	border: 2px solid white;
}

#wrapper { 
	margin: 0 auto; 
	padding: 0;
	position: relative;
	width: 960px; 
}

#page {
	float: left; 
	margin: 0; 
	padding: 0;
	position: relative; 
	width: 100%;
}